.banner {
  background: url("../../images/paper.png"), white;
  border: 2px solid black;
  width: 90%;
  max-width: 1250px;
  margin: 3% auto;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  right: 0;

  .banner-container{
    display: grid;
    grid-template-columns: 65% auto 30%;
    grid-column-gap: 2.5%;
    column-gap: 2.5%;
    min-height: 80vh;
  }

  .page {
    position: absolute;
    left: 0;
    right: 0;
  }

  .left-panel, .right-panel {
    background-color: $light-pink;
    padding-bottom: 4em;
  }
}

.rule-vertical{
  background: black;
  width: 1px;
  height: 100%;
  margin: auto;
}
