.card {
  display: flex;
  height: 25vw;
  background-color: $light-red-pink;
  margin: 20px 0;

  &.reverse {
    flex-direction: row-reverse;
  }

  div {
    padding: 3% 3% 0 3%;
  }

  h3 {
    margin: 0;
  }

  img {
    width: 45%;
    object-fit: contain;
    background-color: $dark-pink;
  }
}
