.card {
  display: flex;
  padding: 1em;

  &.reverse {
    flex-direction: row-reverse;
  }

  div {
    padding: 1% 3% 0 3%;
    flex-grow: 1;
  }

  img {
    width: 30%;
    object-fit: contain;
  }
}
