.card {
  display: flex;
  background-color: $light-red-pink;
  padding: 1em;

  &.reverse {
    flex-direction: row-reverse;
  }

  div {
    padding: 3% 3% 0 3%;
    flex-grow: 1;
  }

  img {
    width: 45%;
    object-fit: contain;
  }
}
