//CSS partials
@import "config/colors";
@import "config/fonts";
@import "components/index";
@import "pages/index";

body {
  background-color: $light-pink;
  font-size: 16px;
}

// 320px — 480px: Mobile devices.
// 481px — 768px: iPads, Tablets.
// 769px — 1024px: Small screens, laptops.
// 1025px — 1200px: Desktops, large screens.
// 1201px and more — Extra large screens, TV.

// 769px — 1024px: Small screens, laptops.
@media screen and (max-width: 1024px){
  body { font-size: 14px;
  }
}

// 481px — 768px: iPads, Tablets.
@media screen and (max-width: 768px){
  body { font-size: 8px;
  }
}

// Up to 480px: Mobile devices.
@media screen and (max-width: 480px){
  body { font-size: 6px;
  }
}

/* simple - enter transition 300ms, exit 150ms */
.page {
  position: absolute;
  left: 8%;
}

$page-fold-width: 3em;
$page-fold-height: 4em;
$page-fold-right: -0.3em;
$page-fold-top: -0.3em;

.page-transition-exit::before {
  transition: width 250ms linear, height 200ms ease-in;
}

.page-transition-enter::before {
  transition: width 500ms linear, height 400ms ease-in;
}

.page-transition-enter::before {
  content: "";
  background: linear-gradient(to bottom left, $page-fold-background 0%, $page-fold-background 50%, $page-fold-back 50%, $page-fold-back 100%);
  height: 100%;
  width: 100%;
}

//after timeout
.page-transition-enter-done::before {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom left, $page-fold-background 0%, $page-fold-background 50%, $page-fold-back 50%, $page-fold-back 100%);
  right: $page-fold-right;
  top: $page-fold-top;
  z-index: 100;
  width: $page-fold-width;
  height: $page-fold-height;
  box-shadow: -2px 3px 4px 0px #b29090;

}

.page-transition-enter.page-transition-enter-active::before {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom left, $page-fold-background 0%, $page-fold-background 50%, $page-fold-back 50%, $page-fold-back 100%);
  right: $page-fold-right;
  top: $page-fold-top;
  z-index: 10;
  width: $page-fold-width;
  height: $page-fold-height;
  box-shadow: -2px 3px 4px 0px #b29090;
}

.page-transition-enter{
  color: yellow;
}

//on app load
.page-transition-appear-active::before {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom left, $page-fold-background 0%, $page-fold-background 50%, $page-fold-back 50%, $page-fold-back 100%);
  right: $page-fold-right;
  top: $page-fold-top;
  z-index: 100;
  width: $page-fold-width;
  height: $page-fold-height;
  box-shadow: -2px 3px 4px 0px #b29090;

}
